html {
  width: 100vw;
  overflow-x: hidden!important;
  overflow-y: scroll!important;
}

::-webkit-scrollbar {
  height: 12px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-track {
  opacity: 0;
}

.spin {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.spin {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

html, body, #root{
  min-height: 100vh
}

.scripture {
  margin-bottom: 24px;
  margin-top: 8px;
  > h5 {
    margin-bottom: 24px;
  }
  > p > br {
    line-height: 3;
  }
}
