body {
  width: 100%;
  overflow-y: scroll;
}

.active,
.active:focus,
.active:hover {
  text-decoration: underline;
}

.brand,
.brand:hover {
  text-decoration: none;
  color: #212529;
}

.article-image {
  height: 300px;
  padding: 0;
}

@media only screen and (min-width: 600px) {
  .article-image {
    height: 350px;
  }
}

@media only screen and (min-width: 992px) {
  .article-image {
    padding: 0px 200px 0px 200px;
  }
}
